@import "tailwindcss";

@layer base {
  body {
    @apply font-sans font-medium
  }

  h1 {
    @apply font-sans p-2 text-3xl md:text-4xl font-bold text-black hover:cursor-default;
    text-shadow:
    2px 2px 5px rgb(166, 238, 181),
    3px 3px 10px rgb(19, 63, 255),
    4px 4px 6px rgb(83, 100, 67),
    -2px -2px 5px rgb(166, 238, 181),
    -3px -3px 10px rgb(19, 63, 255),
    -4px -4px 6px rgb(83, 100, 67);
  }

  h2 {
    @apply font-mono text-2xl lg:text-xl my-2 text-center font-bold hover:cursor-default
  }

  button {
    @apply p-2 md:p-3 m-2 bg-sky-100 hover:bg-sky-200 text-center text-sm border-2
    border-slate-500 rounded-xl hover:cursor-pointer disabled:bg-gray-300 disabled:cursor-not-allowed
  }

  label {
    @apply text-center m-1
  }

  select {
    @apply bg-sky-100 border-2 hover:bg-sky-200 border-slate-500 rounded-sm p-1 m-1
  }
}

@layer components {
  .header {
    @apply bg-gradient-to-r from-slate-700 via-slate-500 to-slate-700 p-3 flex flex-row w-screen border-b-2
  }

  .header-button {
    @apply border-slate-500 outline-white outline-2
  }

  .logo-div {
    @apply p-2 flex-2/3 flex-center justify-start w-full;
  }

  .header-buttons-div {
    @apply m-1 flex flex-1/3 justify-end w-full
  }

  .controls-div {
    @apply grid grid-cols-2 lg:grid-cols-3 border-b-2 bg-gradient-to-r from-neutral-50 via-slate-300 to-teal-50;
  }

  .legend {
    @apply flex-col justify-center items-center text-center m-4 w-4/5 hover:cursor-default;
  }

  .legend-rank {
    @apply border-2 border-slate-500 rounded-xl m-1
  }

  .colour-toggle-div {
    @apply m-2
  }

  .colour-toggle-button {
    @apply w-20 lg:w-30 
  }

  .color-picker-div {
    @apply w-full flex-center py-4
  }

  .color-picker {
    @apply border-3 border-slate-500 rounded-xl mx-4
  }

  .diff-toggler-div {
    @apply flex flex-col w-full col-span-2 lg:col-span-1
  }

  .diff-select-div {
    @apply grid auto-rows-max grid-cols-2 gap-2 p-3 w-full
  }

  .team-diff-div {
    @apply flex-center bg-gradient-to-r from-sky-100 to-slate-50 rounded-sm outline-1 py-2
  }

  .team-crest-div {
    @apply mx-2 bg-slate-500 text-white p-1 rounded-sm border-2 outline-1 outline-black border-white w-12 lg:w-15 text-center
  }

  .range-select-div {
    @apply flex-center p-4 border-b-2 bg-gradient-to-r from-neutral-50 via-slate-300 to-teal-50
  }

  .grid-container {
    @apply p-2 pb-6 overflow-x-auto bg-gradient-to-r from-zinc-200 via-slate-500 to-teal-100
    hover:cursor-default
  }

  .grid-inlay {
    @apply inline-block min-w-full text-center;
  }

  .fixture-grid {
    @apply flex flex-col inline-block min-w-max text-[13px]
  }

  .grid-header {
    @apply py-1 px-1 border-b-1 flex gap-0.5
  }

  .grid-corner {
    @apply p-2 border-2 border-white rounded-sm text-center bg-slate-500 box-border flex-shrink-0 w-14 h-10;
  }

  .header-cell {
    @apply p-2 border-2 border-white rounded-sm text-center bg-slate-500 text-white box-border flex-shrink-0 w-14 h-10;
  }

  .fixture-list {
    @apply py-0.5 px-1 border-b-1 flex gap-0.5
  }

  .team-cell {
    @apply p-2 flex-center border-2 border-white rounded-sm sticky left-0 bg-slate-500 text-white box-border flex-shrink-0 w-14 h-12;
  }

  .crest-svg {
    @apply flex-center w-12 h-9.5
  }

  .fixture-cell {
    @apply p-1 border-2 rounded-sm text-center box-border flex-shrink-0 w-14 h-12 flex-center
  }

  .footer {
    @apply flex-center bg-gradient-to-r from-teal-100 via-slate-500 to-slate-700 gap-2 md:gap-10 p-4 border-t-2 w-screen
  }

  .buy-coffee-div {
    @apply m-2 
  }

  .buy-coffee-button {
    @apply flex h-12 md:h-14
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}